@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700");

body {
	color: rgba(0, 0, 0, 0.87);
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-size: 13pt;
	line-height: 1.5em;
	font-weight: 300
}
.logo {
	width: 1200px;
	margin: 30px auto;
	padding: 0
}
.logo h1 {
	display: inline-block;
	background: #e7746f;
	color: #fff;
	border-radius: 4px;
	padding: 0.55em 0.6em;
	text-decoration: none;
	font-weight: 700;
	font-size: 2.3em;
	margin: 0;
	border: 0;
	line-height: 1em
}
.logo span {
	font-weight: 300
}
.message {
	width: 1200px;
	margin: 30px auto;
	padding: 0
}
.message h2 {
	font-size: 2.35em;
	font-weight: 600
}
.message .images {
	float: left
}
.message .images img {
	border-radius: 5px;
	box-shadow: 0 1px 1px 0 #a9a9a9
}
.message .meta {
	float: right;
	margin: 0;
	padding: 0;
	margin-top: -270px;
	padding-right: 150px;
	line-height: 1.5em;
	color: #fff;
}
.message .meta a {
	color: #fff;
}
.button {
	display: inline-block;
	padding: 0 1.5em;
	border-radius: 4px;
	text-decoration: none;
	font-weight: 600;
	border: solid 1px #dee0e3;
	white-space: nowrap;
	line-height: 2.7em;
	background: rgba(255, 255, 255, 0.1) !important;
	border-color: #fff;
	border-color: rgba(255, 255, 255, 0.5)
}
.button:hover {
	border-color: #e7746f !important;
	background: #e7746f !important;
	color: #fff !important
}
.footer {
	text-align: center;
	padding: 2em 0;
}
.footer a{
	text-decoration: none;
}
